{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "ie": 11,
          "uglify": true
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "ignore": ["node_modules"]
}